<?xml version='1.0' encoding='utf-8' standalone='yes'?>
<?xml-stylesheet href="./_c74_ref.xsl" type="text/xsl"?>
<!--
Part of the Fluid Corpus Manipulation Project (http://www.flucoma.org/)
Copyright 2017-2019 University of Huddersfield.
Licensed under the BSD-3 License.
See license.md file in the project root for full license information.
This project has received funding from the European Research Council (ERC)
under the European Union’s Horizon 2020 research and innovation programme
(grant agreement No 725899).
-->
<c74object name='{{object}}' category='FluidCorpusManuipulation'>
    <digest>{{ digest }}</digest>
    <description>{{ description }}</description>
    <discussion>
        <h4><openfilelink filename="Fluid Corpus Manipulation Toolkit.maxpat">Open the Overview Patch</openfilelink></h4>
        {{ discussion }}
        <p>{{ object }} is part of the Fluid Decomposition Toolkit of the FluCoMa project. For more explanations, learning material, and discussions on its musicianly uses, visit <a href="http://www.flucoma.org/">flucoma.org</a>.</p>
    </discussion>
	<!--METADATA-->
	<metadatalist>
		<metadata name='author'>FluCoMa</metadata>
		<metadata name='tag'>Fluid Decomposition</metadata>
		<metadata name='tag'>corpus</metadata>
	</metadatalist>

    <!--MESSAGES-->
    <methodlist>

	{{ #messages }}
    <method name='{{name}}'>
        <arglist>
            {{ #args}}
            <arg name='{{name}}' optional='{{optional}}' type='{{type}}' />
            {{ /args }}
        </arglist>
        <description>
        {{ msgdesc }}
        {{ options }}
        </description>
    </method>
	{{ /messages }}
	</methodlist>
	<!--MESSAGES-->

	<!--ATTRIBUTES-->
	<attributelist>
    {{ #attributes }}
        <attribute name='{{name}}' get='1' set='1' type='{{type}}' size='{{size}}'>
        <digest> 
        {{ digest }} 
        </digest>
        <description> 
        {{ description }} 
        </description>

        {{! if a value is set the default is supplied here as an additional attirbute list }}
        {{#value}}
        <attributelist>
        <attribute name='default' get='1' set='1' type='{{type}}' size='{{size}}' value='{{value}}'>
        </attribute>
        </attributelist>
        {{/value}}

        </attribute>
    {{ /attributes }}
	</attributelist>
	<!--ATTRIBUTES-->

	<!--RELATED-->
	<seealsolist>
    {{ #see-also }}
    <seealso name='{{.}}'/>
    {{ /see-also }}
	</seealsolist>
	<!--RELATED-->
</c74object>
